@page
@model AppICBF.Pages.Asistencia.IndexAsistenciaModel
@{
    ViewData["Title"] = "Lista Asistencia";
}

<br />
<h2>Lista de Asistencia</h2>
<a class="btn btn-primary btn-sm" href="/Asistencia/CrearAsistencia">Nueva Asistencia</a>

<table class="table">
    <thead>
        <tr>
            <th>Identificacion_Nino</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var asiste in Model.listAsistencia)
        {
            <tr>
                <td>@asiste.Identificacion_Nino</td>
                <td>
                    <a class="btn btn-primary btn-sm" asp-page="/Asistencia/EditarAsistencia" asp-route-Asistencia="@asiste.Identificacion_Nino">Editar</a>
                    <a class="btn btn-danger btn-sm" asp-page="/Asistencia/EliminarAsistencia" asp-route-Asistencia="@asiste.Identificacion_Nino">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
